/* Theme Name: The Project - Responsive Website Template
Author:HtmlCoder
Author URI:http://www.htmlcoder.me
Author e-mail:htmlcoder.me@gmail.com
Version:1.3.0
Created:December 2014
License URI:http://support.wrapbootstrap.com/
File Description: Place here your custom CSS styles
*/

.ver-line
{
    width: 1px;
    height: 100%;
    background-color: #e5e5e5;
}
@media screen and (max-width: 991px)
{
    .p0
    {
        padding: 0;
    }
}

@media screen and (min-width: 991px)
{
    .pl-0
    {
        padding-left: 0;
    }
    .pr-0
    {
        padding-right: 0;
    }
}

.sh
{
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 2px inset;
}

.bsn
{
    border-style: none;
}

.m0
{
    margin: 0;
}

.text-route
{
    color: rgb(119, 119, 119);
    padding-left: 10px;
    font-family: "Arial", sans-serif;

}
.pt-10
{
    padding-top: 20px;
}

.mb5
{
    margin-bottom: 5px;
}

.mt6-fix-price
{
    margin-top: 6px;
}

.hed-b
{
   height: 50px;
}
.fix-for-hed-b
{
    margin-top: 50px;
}
.padding-hor-5
{
    padding-right: 5px;
    padding-left: 5px;
}
.padding-ver-5
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.name-log
{
    font-size: 12px;
}
.map-i-btn
{
    border: none;
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    margin-right: 7px;
    margin-top: 7px;
}
.fix-drop-d {
   padding-top: 50%;
    margin-bottom: -14px;
}

.text-menu
{
    font-size: 12px;
}
.about_us_img
{
height: 230px;
}
.extra_img
{
    height: 20px;
}
.text-route-fix
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ml-5
{
    margin-left: 5px;
}
.mr-5
{
    margin-right: 5px;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #09afdf;
}

a:not(.btn)
{
    text-decoration: none !important;
}